nav{
    background-color: black;
    padding-bottom: 15px;
    margin-bottom: 10px;
}


body h1{
    padding-bottom: 10px;
    color: white;
}

.container1{
    background-image:linear-gradient(black 93%,rgb(56, 53, 53),grey);
    width: 70%;
    height: 50vh;
    padding-top: 25px;
    border-radius: 25px;
    box-shadow: lightslategray ;
}

.container1 #cart-icon{
    width: 90%;
    height: 30vh;
    border-color: cornsilk;
}

.container1 .container .row #par{
    padding-top: 15px;
    color: cornsilk;
}

.container1 .container .row #but{
    padding-top: 20px;
}

.container2{
    background-color:rgb(17, 68, 71);
    width: 90%;
    height: 85vh;
    padding-top: 25px;
    border-radius: 25px;
    box-shadow: lightslategray ;
}

.container2 h3{
    padding-left: 20px;
}

.container2 #gut{
    width: 95%;
    height: 100%;
}
.img-thumbnail {
    padding: .25rem;
    
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}