<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'CSS/organizer.css' %}">
</head>
<body>


<div class="wrapper">
    <div class="title">
      Event Organization
    </div>

    <form class="" method="post" action="/organizer">
        {% csrf_token %}
    <div class="form">

       <div class="inputfield">
          <label for="firstname">First Name</label>
          <input name='firstname' id="firstname" type="text" class="input" required>
       </div>  


        <div class="inputfield">
          <label for="lastname">Last Name</label>
          <input name='lastname' id="lastname" type="text" class="input" required>
       </div>  


       <div class="inputfield">
          <label for="sport">Sport</label>
          <input name='sport' id="sport" type="text" class="input" required>
       </div>  




        <div class="inputfield">
          <label for="email">Email Address</label>
          <input name='email' id="email" type="text" class="input" required>
       </div> 


      <div class="inputfield">
          <label for="number">Phone Number</label>
          <input name='number' id="number" type="text" class="input" required>
       </div> 


      <div class="inputfield">
          <label for="address">Event Address</label>
          <textarea name='address' id="address" class="textarea"></textarea>
       </div> 


      <div class="inputfield">
          <label for="code">Postal Code</label>
          <input name='code' id="code" type="text" class="input" required>
       </div> 


      <div class="inputfield terms">
          <label class="check">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>

          <p>Agreed to terms and conditions</p>
       </div> 


      <div class="inputfield">
        <input type="submit" value="Register" class="btn">
      </div>
    </div>
</div>	

</form> 
	
</body>
</html>