<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportNet</title>
    
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!--main stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}"> 

</head>
<body class="pb-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-size: 30px;">SportsNet</a> &nbsp; &nbsp; &nbsp; &nbsp;
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sports">Sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="store">Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="organise">Organize</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <center>
      <div class="container2 h-100 pb-4">
        <h3 style="color: rgb(255, 255, 255); text-align: left;">Select a Sport</h3><br>
        <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3" id="gut">
          <div class="col">
            <div class="p-3 border-0" style="background-color: white"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
            <a href="event">
                <img src="{% static 'images/football_s_edited.jpg' %}" alt="..." class="img-thumbnail h-100 w-100" >
              </a>
                Football
            </div>
        </div>
              <div class="col">
                  <div class="p-3 border-0" style="background-color: white"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
                      <img src="{% static 'images/cricket_s.jpg' %}" alt="..." class="img-thumbnail h-100 w-100" >
                      Cricket
                  </div>
              </div>
              <div class="col">
                  <div class="p-3 border bg-light"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
                      <img src="{% static 'images/volleyball_s.jpg' %}" alt="..." class="img-thumbnail">
                      Volleyball
                  </div>
              </div>
              <div class="col">
                  <div class="p-3 border bg-light"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
                      <img src="{% static 'images/bad_s.jpg' %}" alt="..." class="img-thumbnail">
                      Badminton
                  </div>
              </div>
              <div class="col">
                  <div class="p-3 border bg-light"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
                      <img src="{% static 'images/tf_s.jpg' %}" alt="..." class="img-thumbnail">
                      Track and Field
                  </div>
              </div>
              <div class="col">
                  <div class="p-3 border bg-light"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
                      <img src="{% static 'images/tt_s.jpg' %}" alt="..." class="img-thumbnail">
                      Table tennis
                  </div>
              </div>
              <div class="col">
                  <div class="p-3 border bg-light"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
                      <img src="{% static 'images/carrom_s.jpg' %}" alt="..." class="img-thumbnail">
                      Carrom
                  </div>
              </div>
              <div class="col">
                  <div class="p-3 border bg-light"><!--<img src="{% static 'images/football_s.jpg' %}" alt=""> Football</div>-->
                      <img src="{% static 'images/chess_s.jpg' %}" alt="..." class="img-thumbnail">
                      Chess
                  </div>
              </div>
          </div>
          
      </div>


      
    </center>
      <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
</body>
</html>

