<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>SportNet</title>

        <!--bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <!--main stylesheet-->
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/store.css' %}"> 

    </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-size: 30px;">SportsNet</a> &nbsp; &nbsp; &nbsp; &nbsp;
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" style="text-align: right;">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sports">Sports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="store">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="organise">Organize</a>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>
            
            <a href="{% url 'storef' %}">
                <h4>Donate</h4>
            </a>
            <br>
            <br>

            <br>


            <div class="row">
                {% for product in products %}
                <div class="col-lg-4">
                    <img class="thumbnail" src="{{product.imageURL}}">
                    <div class="box-element product">
                        <h6><strong>{{product.name }}</strong></h6>
                        <hr>
                        </div>
                </div>
                {% endfor %}
            </div>

            <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
        </body>
</html>

