<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/storef.css' %}">
    <title>Document</title>
    
</head>
<body>
    <section>
        <div class="form-container">
            <h1>Store Form</h1>
        <form class=""  method="post" action="/storef">
            {% csrf_token %}

            <div class="control">
            <label for="name">Name</label>
            <input name="name" id="name" type="text">
            </div>

            <div class="control">
                <label for="pname">Product Name</label>
                <input name="pname" id="pname"  type="text">
                </div>
    


            <div class="control">
            <label for="img">Product Image</label>
            <input id="img" name="img" type="file" accept="image/*">
                </div>

            <div class="control">
                <label for="local">Locality</label>
                <input name="local" id="local" type="text">
                </div>
                

                <div class="control">
                    <div class=text> 
                        <label for="desc">Description</label>
                        <input name="desc" id="desc" type="textarea">
                    </div>
                   
                    </div>
    

            <div class="control">
            <input type="submit" value="Register" class="btn">
            </div>
        </form>
        </div>
    </section>
</body>
</html>